html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.errorblock {
    color: #a03533 !important;
    background: #f7a9a9 !important;
    margin-bottom: 10px;
    padding: 5px 5px 0px 5px;
    border-radius: 4px;
    height: auto;
    vertical-align: bottom;
    display: block;
}

.has-error .form-control {
    border-color: #d05b58 !important;
}
